<html>
    <title> Login  </title>
    <body>
        @{
            ViewData["Title"] = "Home Page";
        }

    
    @model bankaccounts.Models.User
        <h3> Login </h3>

        <form asp-controller="Home" asp-action="Login" method="post">
                </p>
                <p>
                <label asp-for="EmailId">EmailId:</label>
                <input asp-for="EmailId" type = "email" name="EmailId">

                </p><p>
                <label asp-for="Password">Password:</label>
                <input asp-for="Password" type= "password" name="Password">
                </p><p>

                <button type="submit">Submit
                <a href = "/">Need to Register? </a>
            </form>

    </body>
</html>